<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnPleygE8n_dAh9MUuiuhxMnt1LS-zBK4</string>
	<key>GCM_SENDER_ID</key>
	<string>1010968438808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commerce.Carry1st.demo</string>
	<key>PROJECT_ID</key>
	<string>democarry1st</string>
	<key>STORAGE_BUCKET</key>
	<string>democarry1st.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010968438808:ios:a311657964b6cf6a9d3b6d</string>
</dict>
</plist>